# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries
- List some of the tools for Data Scientists

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. plotlib

| Data Science Tools|
|----------|
| Google Collab   |
| JupyterLab   |
| JupyterNotebooks   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Diego Hurtado